<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <!-- Строка подключения к MySQL -->
  <connectionStrings>
    <add name="MySQLConnection" connectionString="Server=localhost;Database=xxaSklad;User Id=root;Password=;Charset=utf8;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <!-- Параметры приложения -->
  <appSettings>
    <!-- Основные параметры -->
    <add key="ApplicationName" value="xxaSklad - Система учета товаров" />
    <add key="ApplicationVersion" value="1.0.0" />
    <add key="Company" value="xxaSklad" />
    
    <!-- Параметры БД -->
    <add key="DatabaseServer" value="localhost" />
    <add key="DatabaseName" value="xxaSklad" />
    <add key="DatabaseUser" value="root" />
    <add key="DatabasePassword" value="" />
    <add key="DatabasePort" value="3306" />
    
    <!-- Параметры сессии -->
    <add key="SessionTimeout" value="30" />
    <add key="MaxLoginAttempts" value="5" />
    <add key="LockoutDuration" value="15" />
    
    <!-- Параметры логирования -->
    <add key="LogPath" value="Logs\" />
    <add key="EnableLogging" value="true" />
    <add key="LogLevel" value="Info" />
    
    <!-- Параметры отчетов -->
    <add key="ReportsPath" value="Reports\" />
    <add key="ExportPath" value="Exports\" />
    
    <!-- Формат валюты -->
    <add key="CurrencySymbol" value="₽" />
    <add key="CurrencyDecimalPlaces" value="2" />
    
    <!-- Параметры минимальных остатков -->
    <add key="EnableStockWarnings" value="true" />
    <add key="LowStockThreshold" value="10" />
  </appSettings>

  <!-- Параметры трассировки -->
  <system.diagnostics>
    <sources>
      <source name="xxaSkladTrace" switchValue="Verbose">
        <listeners>
          <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Logs\Trace.log" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>
